
Project2/.vs/Project2/v16/.suo
*.db
.vs/boingboingbrain/v16/.suo
*.json
*.sqlite
Project1/.vs/Project1/v16/.suo
*.db-shm
*.db-wal
Project1/Debug/Project1.exe
Project1/Debug/Project1.exe.recipe
*.pdb
*.tlog
*.idb
*.obj
*.log
*.ilk
*.user
*.filters
*.vcxproj
*.sln
